{% macro displayNewsList(news_results) %}

{% for result in news_results %}

<div class="col-md-4 mt-2">
        
    <div class="card ">
        <div class="card-header bg-warning text-center">
            <a id="read" class="header section-link" href="/news/{{result.id}}"> <h3>{{result.name }}</h3></a>
        </div>
        <div class="card-body">
            <p class="description">{{result.description|truncate(100)}}</p>
        </div>
        
        
    </div>

</div>

{% endfor %}
{% endmacro %}

{%  macro Article(article_result) %}

    {% for arts in article_result %}
    <div class="col-md-4 mt-3">
        
        <div class="card  h-">
            <div class="card-header">Published on:{{arts.publishedAt}}</div>
            <img class="card-img-top " src="{{arts.urlToImage}}"  alt="{{arts.name}}">
            <div class="card-body">
            <h4 class="card-title">By:{{arts.author}}</h4>
            <p class="card-text">{{arts.description |truncate(100)}}</p>
            <a href="{{arts.url}}"  target="_blank" class="btn btn-primary stretched-link">Read more....</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}
